body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  background-image: radial-gradient(#5dffcf 2px, transparent 2px),
    radial-gradient(#5dffcf 2px, transparent 2px);
  background-size: 31px 31px;
  background-position: 0 0, 15.5px 15.5px;
  background-color: #14f883;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 50px;
}

p {
  font-size: 24px;
  margin-bottom: 50px;
}

#ball {
  width: 100px;
  height: 100px;
  background-color: purple;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveBall linear 5s infinite;
}

@keyframes moveBall {
  0% {
    top: 0;
  }
  100% {
    top: calc(100% - 100px);
  }
}

#score {
  font-size: 24px;
  font-weight: bold;
}
